## APPLICATION
SERVER_PORT=:8080
FRONTEND_URL=http://localhost:5173
INVITATION_TEMPLATE_FILE=user_invitation.gohtml
ENVIRONMENT=develop
INVITATION_EXPIRATION=24

## DATABASE
DB_ADDR=postgres://admin:1234@localhost:5432/social?sslmode=disable

## FRONTEND
FRONTEND_URL=http://localhost:5173

# MAILTRAP
MAIL_API_KEY=YOUR_MAIL_API_KEY
MAIL_USERNAME=YOUR_MAIL_USERNAME
MAIL_PORT=587
MAIL_HOST=YOUR_MAIL_HOST
MAIL_FROM_EMAIL=yourmail@mail.com

# JWT
JWT_SECRET=abc1234
JWT_TOKEN_EXPIRATION=24
JWT_ISSUER=goappsocial
